<!doctype html>
<html lang="zh-CN">
<head><meta charset="UTF-8"><style>{{ .Stylesheet }}</style></head>
<body>
<div class="container" id="container">
<div class="card">
<div class="special-title">
  <div class="bg-content">ABYSS RANK</div>
  <div class="parallelograms">{{ range .bars }}<span></span>{{ end }}</div>
  <div class="content">式舆防卫战排名</div>
  <div class="parallelograms">{{ range .bars }}<span></span>{{ end }}</div>
</div>
{{ range .rows }}
<div class="record">
  <div class="user-info">
    <div class="avatar">{{ with .player.avatar }}<img data-render-resource="{{ . }}" alt="Avatar">{{ end }}</div>
    <div class="info-bar">
      <div class="info"><div class="nickname">{{ .player.nickname }}</div></div>
      <div class="info"><div class="label level">Lv{{ .player.level }}</div><div class="label server">{{ .player.region }}</div></div>
      <div class="uid">UID {{ .player.uid }}</div>
    </div>
    <div class="result">
      <div class="value"><div class="label">总得分</div>{{ if .max }}<div class="max-score-icon score150000"></div>{{ else }}<div class="total-score">{{ .score }}</div>{{ end }}</div>
      <div class="rank"><div class="label">评级</div><div class="rating-icon {{ .rating }}"></div></div>
    </div>
  </div>
  {{ range .layers }}
  <div class="item-card">
    {{ with . }}
    <div class="content">
      <div class="header">
        <div class="name">{{ .name }}</div>
        <div class="value">{{ if .max }}<div class="max-score-icon score50000"></div>{{ else }}<div class="val">{{ .score }}</div>{{ end }}<div class="rating-icon {{ .rating }}"></div></div>
      </div>
      {{ template "team" .team }}
    </div>
    {{ end }}
  </div>
  {{ end }}
</div>
{{ end }}
<div class="notes-container">
  <ul class="notes">
    <li>式舆防卫战排名仅统计第五层的成绩</li>
    <li>请在群内查询<span class="command">{{ $.prefix }}式舆防卫战</span>，以参与对应群的式舆防卫战排名</li>
    <li>对于分数持平的情况，会根据分数的更新时间进行排序，更新时间越早的排名越靠前</li>
  </ul>
</div>
</div>
{{ with .render_footer }}<div class="copyright">{{ . }}</div>{{ end }}
</div>
</body>
</html>
{{ define "team" }}
<div class="list">
  {{ range .slots }}
  <div class="char-container">
    {{ if . }}<div class="item char">{{ if .rank }}<div class="count">{{ .rank }}</div>{{ end }}<div class="rank_disp"><div class="rank rank-icon {{ .rarity }}"></div></div><div class="image"><img{{ with .icon }} data-render-resource="{{ . }}"{{ end }} alt=""></div></div>{{ else }}<div class="item char"></div>{{ end }}
  </div>
  {{ end }}
  {{ if .bangboo }}
  <div class="bangboo-container">
    {{ with .buddy }}<div class="item bangboo"><div class="rank_disp"><div class="rank rank-icon {{ .rarity }}"></div></div><div class="image"><img{{ with .icon }} data-render-resource="{{ . }}"{{ end }} alt=""></div></div>{{ else }}<div class="item bangboo"></div>{{ end }}
  </div>
  {{ end }}
</div>
{{ end }}
