<!doctype html>
<html lang="zh-CN">
<head><meta charset="UTF-8"><style>{{ .Stylesheet }}</style></head>
<body>
<div class="container" id="container">
<div class="panel">
  <div class="info">
    {{ template "player" . }}
    <div class="count">{{ if .refresh }}已为您更新 {{ .new_count }} 个角色{{ else }}共计 {{ .count }} 个角色{{ end }}</div>
    <div class="icon"></div>
  </div>
  <div class="list">
    {{ if not .list }}
    <div class="empty">{{ if .refresh }}暂无数据，请确认查询正确{{ else }}暂无数据，请先刷新面板{{ end }}</div>
    {{ end }}
    {{ range .list }}
    <div class="item">
      <div class="icon">
        {{ if and $.refresh .is_new }}
        <div class="new"></div>
        {{ end }}
        <img class="streng"{{ with .square_icon }} data-render-resource="{{ . }}"{{ end }} alt="" />
        <div class="rank r{{ .rank }}">
          <span> {{ .rank }} </span>
        </div>
      </div>
      <div class="name">
        <span>{{ .name }}</span>
        <div class="rank-icon img {{ .rarity }}"></div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ with .render_footer }}<div class="copyright">{{ . }}</div>{{ end }}
</div>
</body>
</html>
{{ define "player" }}
<div class="user-info">
  <div class="avatar">{{ with .user }}{{ with .avatar_url }}<img src="{{ . }}" alt="">{{ end }}{{ end }}</div>
  <div class="info-bar">
    <div class="info">
      <div class="nickname">{{ .player.nickname }}</div>
      <div class="label level">Lv{{ .player.level }}</div>
      <div class="label server">{{ .player.region }}</div>
    </div>
    <div class="uid">UID {{ .player.uid }}</div>
  </div>
</div>
{{ end }}
